<?xml version="1.0"?>
<model>
  <name>pool_ground25</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>ycchiu226</name>
    <email>yc.ee12@nycu.edu.tw</email>
  </author>
  
  <description>
    Swimming pool floor with lane markings - 50.6m x 25.6m x 0.3m
  </description>
</model>